.menu--item {
    display: flex;

    &:nth-child(1) {
        justify-content: space-around;
        align-items    : center;

        .hamburguer {
            display: none;
        }
    }

    &:nth-child(2) {
        justify-content: center;
    }

    &:nth-child(3) {
        justify-content: flex-end;

        .cart-item-count {
            background-color: rgba(255, 0, 0, 0.623);
            border-radius   : 50%;
            display         : inline-block;
            position        : absolute;
            top             : -20%;
            right           : -10%;
            padding         : 0.4rem;
            font-size       : medium;
        }

        .fa-stack[data-count]:after {
            position     : absolute;
            right        : 8%;
            top          : 8%;
            content      : attr(data-count);
            font-size    : 40%;
            padding      : 0.55em;
            border-radius: 999px;
            line-height  : 0.75em;
            text-align   : center;
            min-width    : 2em;
            font-weight  : bold;
            background   : #a1553e;
        }
    }
}

.color-home {
    color: $primary-color-home;
    a {
        color: $primary-color-home;
    }
}

.color-about {
    .fa-stack:after {
        color: $primary-color-home;
    }
    a {
        color: $primary-color-about;
    }
}
