@import "scss/config/mixins";
@import "scss/config/variables";
@import "scss/base/base";
@import "scss/layout/header";
@import "scss/layout/hero";
@import "scss/layout/about";

.overlay{
    display : none;
    position: absolute;
    top     : 30%;
    .fa-2x{
        background-color: orange;
        border-radius   : 50%;
        padding         : .4rem;
        color           : white;
        display: inline-block;
    }
}

.product:hover{
    .overlay{
        display: block;
    }
    position: relative;
}

.description{
    
    img{
        border-radius: .4rem;
        max-width    : 100%;
    }

    .px-4>*{
        padding: .2rem 0;
    }

    .colores-disponibles{
        >*{
            padding      : .03rem .5rem;
            border-radius: 1rem;
            display      : inline;
            margin-right : .3rem;
        }
        :nth-child(1){
            background-color: red;
        }
        :nth-child(2){
            background-color: black;
        }
    }

}

.off-canvas-bag{
    position        : fixed;
    top             : 0;
    right           : 0;
    width           : 100vw;
    height          : 100vh;
    display: none;
}

.off-canvas-bag--mostrar{
    display         : block;
    background-color: rgba(0, 0, 0, 0.466);

    .off-canvas{
        background-color: white;
        height          : 100vh;

        .off-canvas__close{
            color  : black;
            display: inline-block;
        }

        .off-canvas__item{
            display       : flex;
            flex-direction: row;

            .item__description{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            .item__img{
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                img{
                    max-height: 4rem;
                    width: 100%;
                }
                
            }
            .item__quantity{
                flex-direction: column;
                align-items   : center;
                color         : rgb(206, 138, 98);

                .quantity__number{
                    color: black;
                }
            }
        }
    }
}

.carrito{
    display: inline-block;
}
